<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="expertSystem.Properties.Settings.Habitos_EstudioConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Habitos_Estudio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="expertSystem.Properties.Settings.Habitos_EstudioConnection"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Habitos_Estudio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>